* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-color: whitesmoke;
}

img, iframe{
    display: block;
    width: 100%;
}

p, ul, li, h1, h2, h3, a, .article-link{
    padding: 10px;
    margin: 20px;
}

.post-date {
    color: lightgrey;
    font-style: italic;
}


#title {
    text-align: center;
}

#content {
    margin:auto;
    width: 70%;
    max-width: 1000px;
}

/* https://dev.to/thisdotmedia_staff/how-to-truncate-strings-easily-with-css-5d66 */

.article-link {
    outline: 5px solid lightgrey;
    border-radius: 10px;
}