* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    background-color: rgb(208, 163, 139);
}

img {
    display: block;
    margin: auto;
}

p, ul, li, h1, h3{
    padding: 10px;
    margin: 10px;
    background-color: rgb(213, 147, 111);
}


#title {
    text-align: center;
}

#content {
    margin:auto;
    width: 70%;
    max-width: 500px;
}