/* TODO: Pretty styles! */

body {
  margin:  0;
  padding: 0;

  width:  100vw;
  height: 100vh;

  background-image:    url('assets/backgrounds/forest.png');
  background-repeat:   no-repeat;
  background-position: center;
  background-size:     cover;
}

#content {
  box-sizing: border-box;

  width:   100vw;
  height:  100vh;
  padding: 30px;

  display:               grid;
  grid-template-columns: 1fr 200px;
  gap:                   10px;

  overflow: hidden;
}

#display-frame-container {
  position: relative;

  min-width:  0;
  min-height: 0;
  /* necessary above? */
  /* add banner in here */
}

#display-frame {
  position: absolute;

  width:  calc(100% - 15px);
  height: calc(100% - 15px);

  left:   0; 
  right:  0; 
  top:    0; 
  bottom: 0;

  margin-inline: auto; 
  margin-block:  auto; 

  background-color: aliceblue;
}

.sketch-border-overlay {
  position: absolute;

  height: 100%;
  width:  100%;

  border-image-source: url("assets/sketch-border-overlay.svg");
  border-image-slice:  5;
  border-image-repeat: round;
  border-image-width:  22px;

  pointer-events: none;
}


#page-box-holder {
  position:   relative;
  box-sizing: border-box;
}

#page-box {
  position:   absolute;
  box-sizing: border-box;

  width:  calc(100% - 15px);
  height: calc(100% - 15px);

  left:   0; 
  right:  0; 
  top:    0; 
  bottom: 0;

  margin-inline: auto; 
  margin-block:  auto; 

  display:               grid;
  grid-template-columns: 1fr;
  grid-auto-rows:        150px;

  row-gap:               10px;
  padding:               10px;

  overflow-y:       scroll;
  background-color: aquamarine;
}

.preview-button {
  width:        100%;
  aspect-ratio: 1;

  border:  0px;
  outline: 0px;

  justify-self: center;
  
  background:      url('assets/DefaultLinkBox.png') no-repeat center;
  background-size: 100%;

  transform: scale(100%);
  transition: .1s;
}

.preview-button:hover {
  transform: scale(110%);
}

#art-icon {
  background:      url('assets/art-icon.svg') no-repeat center;
  background-size: 90%;
}

#about-icon {
  background:      url('assets/about-icon.svg') no-repeat center;
  background-size: 90%;
}

#blog-icon {
  background:      url('assets/blog-icon.svg') no-repeat center;
  background-size: 90%;
}